
.vertical:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #0d47a1;
  z-index: 10;
  box-shadow: 0 1px 6px rgba(0,0,0,.6);
  text-align: center;
}

.topBar-btn {
  margin: 0 8px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  vertical-align: middle;
}
.topBar-btn:hover {
  color: #ccc;
}
.topBar-btn.disabled {
  color: #4fc3f7;
  cursor: default;
}

.content {
  width: 80%;
  margin: 90px auto;
}

.crop-placeholder {
  width: 400px;
  padding: 60px 0;
  margin: 140px auto;
  background-color: #4fc3f7;
  font-size: 26px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}